* {
    box-sizing: border-box;
}

body { 
    /* background-color: gold; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #333;
}

header {
    background: #3333;
    border-radius: 25px;
    padding: 25px;
}

.violet {
    background-color: purple;
}

.bleu-leger {
    background-color: skyblue;
}

.orange {
    background-color: orange;
}

.rouge {
    background-color: red;
}

.vert {
    background-color:lightgreen;
}

.gris {
    background-color: #3333;
}

.rose {
    background-color: pink;
}

.or {
    background-color: gold;
   
}

.jaune {
    background-color: yellow; 
}

.conteneur {
    /* le conteneur et sa largeur est auto centé */
    margin: 0 auto;
    width: 1000PX;
    background-color: #fff;
    padding:10px;
}
/* la pour crée une rangéé(qui sera affiché côte à côte */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    border: 1px solid #000
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}


/* définition de la largeurs des colonnes en % */

.col-1 {
    width: 8.333333%;
    padding: 4px;
}

.col-2 {
    width: 16.666666%;
    padding: 4px;

}

.col-3 {
    width: 25%;
    padding: 4px;
}

.col-4 {
    /*  */
    width: 33.333333%;
    padding:4px;
}

.col-5 {
    /*  */
    width: 41.666666%;
    padding:4px;
}
.col-6 {
    /*  */
    width: 50%;
    padding:4px;
}

.col-7 {
    /*  */
    width: 58.333333%;
    padding:4px;
}

.col-8 {
    /*  */
    width: 66.666666%;
    padding:4px;
}

.col-9 {
    /*  */
    width: 75%;
    padding:4px;
}

.col-10 {
    /*  */
    width: 83.333333%;
    padding:4px;
}

.col-11 {
    /*  */
    width: 91.666666%;
    padding:4px;
}

.col-12 {
    /*  */
    width: 100%;
    padding:4px;
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.66666%;
}
.marge-3 {
    margin-left: 25%;
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}

/*pour les titres de la page  */

h1 {
    text-align: center;
    border-radius: 25px;
}